$black: #16161d;
$width: 800px;
$purple: #262161;
$yellow: #ffc40e;
$pink: #ee7297;
$green: #93ff00;
$red: #e50714;
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
$grad: linear-gradient(
  90deg,
  #48ded4 0%,
  #a026bf 20%,
  #e82c75 60%,
  $yellow 85%,
  #48ded4 95%
);
$verticalGrad: linear-gradient(
  0,
  #48ded4 0%,
  #a026bf 20%,
  #e82c75 60%,
  $yellow 85%,
  #48ded4 95%
);

// Palette URL: http://paletton.com/#uid=12P0u0kw0g0nEoIrAkgHfbgRI6j */

// As hex codes */

$color-primary-0: #006600; // Main Primary color */
$color-primary-1: #299e29;
$color-primary-2: #128112;
$color-primary-3: #004800;
$color-primary-4: #002800;

// As RGBa codes */

$rgba-primary-0: rgba(0, 102, 0, 1); // Main Primary color */
$rgba-primary-1: rgba(41, 158, 41, 1);
$rgba-primary-2: rgba(18, 129, 18, 1);
$rgba-primary-3: rgba(0, 72, 0, 1);
$rgba-primary-4: rgba(0, 40, 0, 1);

// Palette URL: http://paletton.com/#uid=13g0u0kw0kQo2sFtep2EVgrOLaY */

// As hex codes */

$color-accent-0: #00665f; // Main accent color */
$color-accent-1: #238c85;
$color-accent-2: #0b7b72;
$color-accent-3: #00504b;
$color-accent-4: #003632;

// As RGBa codes */

$rgba-accent-0: rgba(0, 102, 95, 1); // Main accent color */
$rgba-accent-1: rgba(35, 140, 133, 1);
$rgba-accent-2: rgba(11, 123, 114, 1);
$rgba-accent-3: rgba(0, 80, 75, 1);
$rgba-accent-4: rgba(0, 54, 50, 1);

// Palette URL: http://paletton.com/#uid=1090u0ko8nZe6wqjnrdrmjfwPdY */

// As hex codes */

$color-warning-0: #bf4b2f; // Main warning color */
$color-warning-1: #ffa48f;
$color-warning-2: #d96f56;
$color-warning-3: #992f16;
$color-warning-4: #6f1500;

// As RGBa codes */

$rgba-warning-0: rgba(191, 75, 47, 1); // Main warning color */
$rgba-warning-1: rgba(255, 164, 143, 1);
$rgba-warning-2: rgba(217, 111, 86, 1);
$rgba-warning-3: rgba(153, 47, 22, 1);
$rgba-warning-4: rgba(111, 21, 0, 1);

// Palette URL: http://paletton.com/#uid=12P0u0k8ug04Kqo6SkXai9tii9n */

// As hex codes */

$color-neutral-0: #4b664b; // Main neutral color */
$color-neutral-1: #8fa88f;
$color-neutral-2: #698669;
$color-neutral-3: #293c29;
$color-neutral-4: #1a3c1a;

// As RGBa codes */

$rgba-neutral-0: rgba(75, 102, 75, 1); // Main neutral color */
$rgba-neutral-1: rgba(143, 168, 143, 1);
$rgba-neutral-2: rgba(105, 134, 105, 1);
$rgba-neutral-3: rgba(41, 60, 41, 1);
$rgba-neutral-4: rgba(26, 60, 26, 1);

// Palette URL: http://paletton.com/#uid=1080u0k3SnZ0LED2as+5ZjD8Ffc */

// As hex codes */

$color-gray-0: #bfaca8; // Main gray color */
$color-gray-1: #fffaf9;
$color-gray-2: #e7dad8;
$color-gray-3: #9c847f;
$color-gray-4: #795e58;

// As RGBa codes */

$rgba-gray-0: rgba(191, 172, 168, 1); // Main gray color */
$rgba-gray-1: rgba(255, 250, 249, 1);
$rgba-gray-2: rgba(231, 218, 216, 1);
$rgba-gray-3: rgba(156, 132, 127, 1);
$rgba-gray-4: rgba(121, 94, 88, 1);
